<footer class="footer bg-primary text-center py-3 text-white fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; {{getCurrentYear}} Our Coding BlogSpot</p>
            </div>
            <div class="col-md-6">
                <p class="d-md-none">Created by Martin Lopez</p>
                <p class="d-none d-md-block">Created with love and dedication.</p>
            </div>
        </div>
    </div>
</footer>

