<!DOCTYPE html>
<html>

<head>
    <title>Our Coding BlogSpot</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        {{> header}}
    </header>

    <main class="container pb-5 mb-5">
        {{{body}}}
    </main>

    <!-- Bootstrap footer with fixed positioning, initially hidden -->
    <footer class="footer bg-primary text-center py-3 fixed-bottom text-white fixed-bottom-hidden">
        <div class="container">
            <p>&copy; Our BlogSPot App, Created by Martin Lopez!</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Handlebars.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>

</html>