<!-- Hero -->
<section class="hero text-center">
    <div class="hero-bg">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.impactplus.com%2Fblog%2Fbest-blog-header-design-examples&psig=AOvVaw19EqLvOM9EqTFbqnFqzlUW&ust=1694411551994000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCPj7zoitn4EDFQAAAAAdAAAAABAE"
            alt="Developer Community" class="img-fluid">
    </div>
    <div class="hero-content">
        <h1>Welcome to Our Developer Community!</h1>
        <p>Join our community and share your knowledge.</p>
        <a class="btn btn-outline-dark btn-lg btn-expand" href="/blog">Explore Blogs</a>
        <a class="btn btn-outline-dark btn-lg btn-expand" href="views/postBlog.handlebars">Publish Your Post</a>
    </div>
</section>

<style>
    .btn-expand {
        color: black;
        transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
        background-color: transparent !important; 
    }

    .btn-expand:hover {
        transform: scale(1.02); 
        padding: 0.75rem 1rem; 
        color: black !important; 
    }
</style>


<main class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <p>
                "Our mission is to connect passionate developers with a platform to share their insights and ideas.
                At our developer community website, we are dedicated to fostering a positive environment where
                developers can publish their blog posts and engage in meaningful discussions. Our goal is to provide
                a space where developers can showcase their expertise and learn from others in the community. We
                encourage open and collaborative learning, empowering developers to grow in their careers and make
                valuable connections. Together, we aim to create a world where every developer has a platform to
                thrive and contribute to the global tech community."
            </p>
        </div>
    </div>
</main>
